<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename= 'favicon.ico') }}" />
    <title>{{ title }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-blue">
        <div class="container-fluid">
            <a class="navbar-brand {% if status == 'connected' %} vpn-text {% endif %}" href="{{ url_for('index')}}">VPN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    </li>
                </ul>
                <span class="navbar-text">
                    {{ ip }}
                </span>
            </div>
        </div>
    </nav>


    <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
            {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename= 'js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>